<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7PNGIdSpyg4XH9EePYG9RJzGigh8ptBM</string>
	<key>GCM_SENDER_ID</key>
	<string>1030007383174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tickleapp</string>
	<key>PROJECT_ID</key>
	<string>tickleapp-a458a</string>
	<key>STORAGE_BUCKET</key>
	<string>tickleapp-a458a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030007383174:ios:2e3b35d1343a1d9b6c5d07</string>
</dict>
</plist>